
@model UES.Models.Account.CreateUpgrownEmployeeModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreateUpgrownEmployee</title>
</head>
<body>
    @using (Html.BeginForm("CreateUpgrownEmployee", "CreateUpgrownEmployee", FormMethod.Post, htmlAttributes: new { id = "createUpgrownEmployeeForm" }))
    {
       
    }
</body>
</html>
